In [1]:
import csv
import pandas as pd
import os

In [2]:
# 1. Group all vehicles by accident_id in a dict{accident_id:[array with all vehicles]}

vehicles = {}

with open("../../data/vehicles.csv") as f:
    
    lines = f.readlines()

    for line in lines[1:]:
    
        csv_row = line.split(',')
        accident_id = int(csv_row[0])
        vehicles.setdefault(accident_id, [])
        vehicles[accident_id].append(csv_row[1:])

In [3]:
'Number of vehicles: {:,}'.format(len(vehicles))

'Number of vehicles: 244,091'

In [4]:
# 2. Write all vehicles info in a CSV file grouped by accident_id

with open("../../data/text.csv", 'w') as csvfile:
    
    writer = csv.writer(csvfile, delimiter=',', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(['accident_id', 'all_vehicles'])

    for accident_id, info in vehicles.items():
        
        # print(len(info))
        # print(accident_id)
        
        all_vehicles = ''
        for vehicle in info:
            # import pdb; pdb.set_trace()
            all_vehicles += ' ' + ' '.join(vehicle)
        
        writer.writerow( [accident_id, all_vehicles] )

In [5]:
data_path = '../../data/'

In [6]:
df_accidents = pd.read_csv(os.path.join(data_path, 'accidents.csv'))

In [7]:
df_accidents.head()

,accident_id,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,time,1st_road_class,...,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,lsoa_of_accident_location,police_force,local_authority_district,local_authority_highway,target
0,359433,519310.0,188730.0,-0.279323,51.584754,2,1,2016-01-11,02:30,A,...,1,Dry,None,None,Urban,E01000543,Metropolitan Police,Brent,Brent,0
1,446617,551920.0,174560.0,0.184928,51.449595,1,1,2016-01-11,00:37,A,...,1,Dry,None,None,Urban,E01000375,Metropolitan Police,Bexley,Bexley,0
2,342312,505930.0,183850.0,-0.473837,51.543563,1,1,2016-01-11,01:25,A,...,1,Dry,None,None,Urban,E01033725,Metropolitan Police,Hillingdon,Hillingdon,0
3,495118,527770.0,168930.0,-0.164442,51.404958,1,1,2016-01-11,09:15,A,...,1,Dry,None,None,Urban,E01003379,Metropolitan Police,Merton,Merton,0
4,595500,510740.0,177230.0,-0.406580,51.483139,2,1,2016-01-11,07:53,A,...,1,Dry,None,None,Urban,E01002583,Metropolitan Police,Hounslow,Hounslow,0

In [8]:
df_accidents.shape

(137599, 30)

In [9]:
df_text = pd.read_csv(os.path.join(data_path, 'text.csv'))

In [10]:
df_text.shape

(244091, 2)

In [11]:
df_text.head()

   accident_id                                       all_vehicles
0       524288   1 Car No tow/articulation Going ahead other O...
1       524289   1 Car No tow/articulation Moving off On main ...
2       524290   1 Car No tow/articulation -1 -1 -1 -1 -1 -1 -...
3       524291   1 Car No tow/articulation Going ahead other O...
4       524294   1 Car No tow/articulation Going ahead other O...

In [12]:
df_merged = pd.merge(df_accidents, df_text, on='accident_id', how='left')

In [13]:
df_merged.head()

,accident_id,location_easting_osgr,location_northing_osgr,longitude,latitude,number_of_vehicles,number_of_casualties,date,time,1st_road_class,...,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,lsoa_of_accident_location,police_force,local_authority_district,local_authority_highway,target,all_vehicles
0,359433,519310.0,188730.0,-0.279323,51.584754,2,1,2016-01-11,02:30,A,...,Dry,None,None,Urban,E01000543,Metropolitan Police,Brent,Brent,0,1 Taxi/Private hire car No tow/articulation U...
1,446617,551920.0,174560.0,0.184928,51.449595,1,1,2016-01-11,00:37,A,...,Dry,None,None,Urban,E01000375,Metropolitan Police,Bexley,Bexley,0,1 Car No tow/articulation Going ahead other O...
2,342312,505930.0,183850.0,-0.473837,51.543563,1,1,2016-01-11,01:25,A,...,Dry,None,None,Urban,E01033725,Metropolitan Police,Hillingdon,Hillingdon,0,1 Car No tow/articulation Going ahead other O...
3,495118,527770.0,168930.0,-0.164442,51.404958,1,1,2016-01-11,09:15,A,...,Dry,None,None,Urban,E01003379,Metropolitan Police,Merton,Merton,0,1 Bus or coach (17 or more pass seats) No tow...
4,595500,510740.0,177230.0,-0.406580,51.483139,2,1,2016-01-11,07:53,A,...,Dry,None,None,Urban,E01002583,Metropolitan Police,Hounslow,Hounslow,0,1 Car No tow/articulation Changing lane to ri...

In [14]:
with open('../../data/accidents_with_vehicles.csv', 'w') as f:
    f.write(df_merged.to_csv(index=False))